(
    selected_tab: Some("#eb6f92"),
    command_fg: Some("#e0def4"),
    selection_bg: Some("#393552"),
    selection_fg: Some("#e0def4"),
    cmdbar_bg: Some("#2a273f"),
    cmdbar_extra_lines_bg: Some("#232136"),
    disabled_fg: Some("#6e6a86"),
    diff_line_add: Some("#31748f"),
    diff_line_delete: Some("#eb6f92"),
    diff_file_added: Some("#31748f"),
    diff_file_removed: Some("#eb6f92"),
    diff_file_moved: Some("#c4a7e7"),
    diff_file_modified: Some("#ea9a97"),
    commit_hash: Some("#c4a7e7"),
    commit_time: Some("#908caa"),
    commit_author: Some("#908caa"),
    danger_fg: Some("#eb6f92"),
    push_gauge_bg: Some("#232136"),
    push_gauge_fg: Some("#eb6f92"),
    tag_fg: Some("#31748f"),
    branch_fg: Some("#eb6f92"),
)
