(
    selected_tab: Some("#b42318"),
    command_fg: Some("#575279"),
    selection_bg: Some("#f2e9de"),
    selection_fg: Some("#575279"),
    cmdbar_bg: Some("#fffaf3"),
    cmdbar_extra_lines_bg: Some("#faf4ed"),
    disabled_fg: Some("#9893a5"),
    diff_line_add: Some("#286983"),
    diff_line_delete: Some("#b42318"),
    diff_file_added: Some("#286983"),
    diff_file_removed: Some("#b42318"),
    diff_file_moved: Some("#907aa9"),
    diff_file_modified: Some("#d7827e"),
    commit_hash: Some("#907aa9"),
    commit_time: Some("#797593"),
    commit_author: Some("#797593"),
    danger_fg: Some("#b42318"),
    push_gauge_bg: Some("#faf4ed"),
    push_gauge_fg: Some("#b42318"),
    tag_fg: Some("#286983"),
    branch_fg: Some("#56949f"),
)
